<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Hi, I'm Danny.</h4>
          <p>My background is in 3D animation and visual effects. I quickly gravitated towards the technical aspects of 3D. Eventually I became my team's developer, creating automation tools in Python to enhance and speedup artist's workflow.</p>
          <p>My passion for software development grew with each new tool I built. Before long, I realized I didn't just want software development to be part of my job, but my entire job. </p>
          <p>I am actively seeking a new opportunity as a full-time software developer. A career change is admittedly a little scary, but I am excited about what my future holds. Until then, I will continue developing my own projects and learning new technologies.</p>
        </div>
      </div>
    </div>
  </div>
</div>
