<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Hi, I'm Danny.</h4>
          <p>My background is in 3D animation and visual effects. I quickly gravitated towards the technical aspects of 3D. Eventually I became my team's developer, creating automation tools in Python to enhance and speedup artist's workflow.</p>
          <p>My passion for software development grew with each new tool I built. Before long, I realized I didn't just want software development to be part of my job, but my entire job. </p>
          <p>I am actively seeking a new opportunity as a full-time software developer. A career change is admittedly a little scary, but I am excited about what my future holds. Until then, I will continue developing my own projects and learning new technologies.</p>
          <hr>
          <div class="row">
            <div class="col-xs-4">
              <div class="icon-container">
                <a
                  href="https://github.com/strausd"
                  target="_blank">
                  <i class="ion-social-github"></i>
                </a>
              </div>
            </div>
            <div class="col-xs-4">
                <div class="icon-container">
                <a
                  href="https://www.linkedin.com/in/strausd/"
                  target="_blank">
                  <i class="ion-social-linkedin"></i>
                </a>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="icon-container">
                <a
                  href="https://docs.google.com/document/d/1Q6j2Fg6ay6mL-A87SeHxa826EfA4BzzuBwYrtVjL3Uk/edit?usp=sharing"
                  target="_blank">
                  <i class="ion-document-text"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
