<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Hi, I'm Danny.</h4>
          <p>My background is in 3D animation and visual effects. I quickly gravitated towards the technical aspects of 3D. Eventually I became my team's developer, creating automation tools in Python to enhance and speedup artist's workflow.</p>
          <p>My passion for software development grew with each new tool I built. Before long, I realized I didn't just want software development to be part of my job, but my entire job. </p>
          <p>I am currently a software engineer at an awesome company called Insite Interactive. We build custom software, websites, and mobile applications for anybody and everybody. My job as a developer is to build robust backends for large scale projects using Python, Django, and PostgreSQL. I also build responsive front end sites using HTML, CSS, and JavaScript. Working at a small company like Insite allows me to own a project, which involves working directly with the client to gather requirements, negotiate timelines, and make decisions regarding the technical architecutre of the project.</p>
          <hr>
          <div class="row">
            <div class="col-xs-4">
              <div class="icon-container">
                <a
                  href="https://github.com/strausd"
                  target="_blank">
                  <i class="ion-social-github"></i>
                </a>
              </div>
            </div>
            <div class="col-xs-4">
                <div class="icon-container">
                <a
                  href="https://www.linkedin.com/in/strausd/"
                  target="_blank">
                  <i class="ion-social-linkedin"></i>
                </a>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="icon-container">
                <a
                  href="https://docs.google.com/document/d/1Q6j2Fg6ay6mL-A87SeHxa826EfA4BzzuBwYrtVjL3Uk/edit?usp=sharing"
                  target="_blank">
                  <i class="ion-document-text"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
