<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false" (click)="onCollapse()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" (click)="onNavClick()">Danny Straus</a>
    </div>

    <div
      class="navbar-collapse"
      id="navbar-collapse-1"
      [ngClass]="{'collapse': collapse}">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="about" (click)="onNavClick()">About <span class="sr-only">(current)</span></a></li>
        <li routerLinkActive="active"><a routerLink="resume" (click)="onNavClick()">Resume</a></li>
        <li routerLinkActive="active"><a routerLink="contact" (click)="onNavClick()">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
