<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h4>Projects</h4>
          <hr>
          <div class="col-xs-12 col-md-4">
            <div class="project">
              <div class="menu-bar">
                <div class="red-circle"></div>
                <div class="yellow-circle"></div>
                <div class="green-circle"></div>
                <p>Omnifood Project</p>
              </div>
              <img class="img-responsive" src='../../img/projects/omnifood.png' alt="Omnifood Project">
              <div class="overlay">
                <div class="text">
                  <h2>Omnifood</h2>
                </div>
                <a class="project-link" href="http://omnifoodproject.000webhostapp.com/" target="_blank"></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="project">
              <div class="menu-bar">
                <div class="red-circle"></div>
                <div class="yellow-circle"></div>
                <div class="green-circle"></div>
                <p>Chat App</p>
              </div>
              <img class="img-responsive" src='../../img/projects/chatapp.png' alt="Chat App Project">
              <div class="overlay">
                <div class="text">
                  <h2>Chat App</h2>
                </div>
                <a class="project-link" href="https://immense-spire-99071.herokuapp.com/" target="_blank"></a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="project">
              <div class="menu-bar">
                <div class="red-circle"></div>
                <div class="yellow-circle"></div>
                <div class="green-circle"></div>
                <p>Todo App</p>
              </div>
              <img class="img-responsive" src='../../img/projects/todoapp.png' alt="Todo App Project">
              <div class="overlay">
                <div class="text">
                  <h2>Todo App</h2>
                </div>
                <a class="project-link" href="http://react-todo-app-strausd.herokuapp.com/" target="_blank"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
