.panel {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #505050;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #505050;
  color: #e0e0e0;
}

.form-control:focus {
  box-shadow: none;
}

.btn-default-outline {
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border: 2px solid #e0e0e0;
  padding: .5em 1em;
  font-size: 1.2em;
  width: 100px;
  margin: 0 .1em;
}

.btn-default-outline:hover {
  background: #e0e0e0;
  color: black;
}

.full-width {
  width: 100%;
}
