<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Summary</div>
        <div class="panel-body">
          <p>Seeking a software developer position where I can utilize my skills in Java, JavaScript, HTML, CSS, Angular, React, and other web technologies. I am hard working, a self-starter, a fast learner, and enjoy taking on technical challenges. I thrive in collaborative and team-driven environments that breed quick and high quality results. I am eager to apply my skills and create software that positively impacts people’s lives.</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Skills</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4 col-sm-2 skill">
              Java
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              JavaScript
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              HTML5
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              CSS3
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              jQuery
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              Node.js
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              Express
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              Angular 4
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              React/Redux
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              Socket.IO
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              MongoDB
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              SQLite
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              Bootstrap
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              Semantic UI
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              RESTful APIs
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              Python
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              Adobe CC
            </div>
            <div class="col-xs-4 col-sm-2 skill">
              3D Modeling
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Experience</div>
        <div class="panel-body">
          <h4>ReelFX - Environment Artist</h4>
          <p>February 2016 to March 2017</p>
          <ul class="list-group">
            <li class="list-group-item">Automate set assembling and wind simulation tasks using Python scripts</li>
            <li class="list-group-item">Reduce vegetation caching process from 3 hours per asset to 5 minutes and a few button clicks using Python scripts</li>
            <li class="list-group-item">Procedurally generate and style grass for environments using XGen’s expression language</li>
            <li class="list-group-item">Simulate wind for all vegetation</li>
            <li class="list-group-item">3D model trees and bushes for animated feature films</li>
          </ul>
          <hr>
          <h4>UT Dallas - Senior Lecturer</h4>
          <p>January 2016 to May 2016</p>
          <ul class="list-group">
            <li class="list-group-item">Aid in setup and testing of department-wide render farm</li>
            <li class="list-group-item">Teach three sections of 3D Modeling and Texturing for the school of Arts and Technology</li>
          </ul>
          <hr>
          <h4>UT Dallas - Teaching Assistant</h4>
          <p>August 2014 to December 2015</p>
          <ul class="list-group">
            <li class="list-group-item">Teach two semesters of 3D Rigging including MEL scripting for the school of Arts and Technology</li>
            <li class="list-group-item">Assist for one semester of Animation Processes</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Relevant Classes</div>
        <div class="panel-body">
          <h4>University Classes</h4>
          <ul class="list-group">
            <li class="list-group-item">Computer Science I &amp; II</li>
            <li class="list-group-item">Computer Science Lab</li>
            <li class="list-group-item">Programming Fundamentals</li>
            <li class="list-group-item">Independent Research in Arts and Technology</li>
            <li class="list-group-item">Project Management</li>
            <li class="list-group-item">Design Principles</li>
            <li class="list-group-item">Computer Imaging</li>
            <li class="list-group-item">Virtual Environments</li>
          </ul>
          <hr>
          <h4>Online Classes through Udemy</h4>
          <ul class="list-group">
            <li class="list-group-item">
              <a
              href="https://www.udemy.com/java-the-complete-java-developer-course/learn/v4/"
              target="_blank">
                Complete Java Masterclass — Tim Buchalka
              </a>
            </li>
            <li class="list-group-item">
              <a
              href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/"
              target="_blank">
                The Web Developer Bootcamp — Colt Steele
              </a>
            </li>
            <li class="list-group-item">
              <a
              href="https://www.udemy.com/design-and-develop-a-killer-website-with-html5-and-css3/learn/v4/"
              target="_blank">
                Build Responsive Websites with HTML5 and CSS3 — Jonas Schmedtmann
              </a>
            </li>
            <li class="list-group-item">
              <a
              href="https://www.udemy.com/the-complete-javascript-course/learn/v4/"
              target="_blank">
                The Complete JavaScript Course — Jonas Schmedtmann
              </a>
            </li>
            <li class="list-group-item">
              <a
              href="https://www.udemy.com/the-complete-nodejs-developer-course-2/learn/v4/"
              target="_blank">
                The Complete Node.js Developer Course — Andrew Mead
              </a>
            </li>
            <li class="list-group-item">
              <a
              href="https://www.udemy.com/the-complete-guide-to-angular-2/learn/v4/"
              target="_blank">
                Angular 4 The Complete Guide — Maximilian Schwarzmüller
              </a>
            </li>
            <li class="list-group-item">
              <a
              href="https://www.udemy.com/the-complete-react-web-app-developer-course/learn/v4/"
              target="_blank">
                The Complete React Web App Developer Course — Andrew Mead
              </a>
            </li>
            <li class="list-group-item">
              <a
              href="https://www.udemy.com/complete-python-bootcamp/learn/v4/"
              target="_blank">
                Complete Python Bootcamp — Jose Portilla
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Education</div>
        <div class="panel-body">
          <h4>MFA in Arts and Technology</h4>
          <p>UT Dallas - December 2015</p>
          <hr>
          <h4>BA in Arts and Technology</h4>
          <p>UT Dallas - August 2013</p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Links</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <a
              href="https://github.com/strausd"
              target="_blank">
                github.com/strausd
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
